@import 'antd/dist/antd.less';

// * global override
.ant-message .anticon {
    font-size: 1.7rem;
}

.ant-divider-horizontal.ant-divider-with-text {
    font-size: 1.3rem;
    border-top-color: rgba(0, 0, 0, .09);
}

.ant-btn {
    padding: 0;
}