@import 'antd/dist/antd.less';

// * global override
.ant-message .anticon {
    font-size: 1.7rem;
}

.ant-divider-horizontal.ant-divider-with-text {
    font-size: 1.3rem;
    border-top-color: rgba(0, 0, 0, .09);
}

.ant-btn {
    padding-top: 0;
    padding-bottom: 0;
}

.ant-modal-close-x {
    font-size: 1.3rem;
}

.ant-modal-title {
    font-size: 1.6rem;
    color: #000;
}

.ant-select-lg {
    font-size: 1.4rem;
}

.ant-modal-wrap {
    overflow-x: hidden;
}

.ant-select-multiple .ant-select-selection-item {
    margin-top: 0;
    margin-bottom: 0;
}

.ant-select-multiple .ant-select-selector {
    padding: .3rem;
}

.ant-card-meta-title {
    font-size: 1.6rem;
}

.ant-popover-message-title {
    padding-left: 2rem;
}

.ant-popover-message > .anticon {
    top: 8.3px;
}

.ant-layout-sider-zero-width-trigger {
    background: #059669;
    color: #f3f3f3;
    opacity: .7;
    &:hover {
        opacity: 1;
    }
}

.ant-carousel .slick-dots li {
    background-color: #262626;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #059669;
}

.ant-tag {
    &:last-child {
        margin-right: 0;
    }
}

.ant-menu-submenu-title {
    padding: 0 1.5rem !important;
}

.ant-drawer-header {
    background-color: #059669;
}
.ant-drawer-title {
    font-size: 1.75rem;
    text-align: center;
    color: #fff;
}